@charset "UTF-8";
/* CSS Document */

html {
	background-color: rgb(2,17,40);
}

h1 {
	font-family: "atrament-web-n4", "atrament-web",sans-serif;
	font-weight: 400;
	color: rgb(235,221,181);
}

p {
	font-family: "atrament-web-n3", "atrament-web",sans-serif;
	font-weight: 300;
	color: rgb(130,85,30);
}