@charset "UTF-8";
/* CSS Document */

dialog {
	border: 2px solid rgb(2,17,40);
}

dialog::backdrop {
	background-color: rgb(2,17,40);
}

dialog + .backdrop {
	background-color: rgb(2,17,40);
	opacity: 0.9;
}

#btn-close {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	text-align: center;
	line-height: 24px;
	border: 2px solid rgb(2,17,40);
	background-color: rgb(130,85,30);
	color: rgb(2,17,40);
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	top: -16px;
	right: -16px;
}